@font-face {
  font-family: "iconfont"; /* Project id 3650858 */
  src: url('iconfont.woff2?t=1664001427053') format('woff2'),
       url('iconfont.woff?t=1664001427053') format('woff'),
       url('iconfont.ttf?t=1664001427053') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e63c";
}

.icon-xitongshezhi:before {
  content: "\f5ae";
}

.icon-shezhi1:before {
  content: "\faed";
}

.icon-shezhi-17:before {
  content: "\e841";
}

.icon-guanlishezhi:before {
  content: "\fde5";
}

.icon-tuichu:before {
  content: "\e695";
}

.icon-faxian:before {
  content: "\e664";
}

.icon-yonghu1:before {
  content: "\100ae";
}

.icon-shouqi1:before {
  content: "\e63a";
}

.icon-zhankai1:before {
  content: "\ecb9";
}

.icon-biaoqiankuozhan_sousuo-354:before {
  content: "\ebd3";
}

.icon-taiyang-copy-copy:before {
  content: "\ecb7";
}

.icon-icon--fanhuidingbu:before {
  content: "\e623";
}

.icon-icon_yejianqingtian:before {
  content: "\e609";
}

.icon-baoguo:before {
  content: "\e692";
}

.icon-hulianwang:before {
  content: "\e605";
}

.icon-zuzhijiagou:before {
  content: "\e62b";
}

.icon-zujian-xingzhuang:before {
  content: "\e603";
}

.icon-kefuchajian:before {
  content: "\e620";
}

.icon-SemanticWeb:before {
  content: "\e749";
}

.icon-chuizi:before {
  content: "\e617";
}

.icon-EC_wendang-IThulianwang:before {
  content: "\e69d";
}

.icon-tuijian:before {
  content: "\ecb3";
}

.icon-10_fasong:before {
  content: "\e674";
}

.icon-WEBSITE:before {
  content: "\e606";
}

.icon-wangzhanjianzhan:before {
  content: "\e666";
}

.icon-kaifa1:before {
  content: "\e6ae";
}

.icon-wodexuexi:before {
  content: "\e65c";
}

.icon-xuexi1:before {
  content: "\e751";
}

.icon-pingmiansheji:before {
  content: "\e6c6";
}

.icon-nodejs:before {
  content: "\e683";
}

.icon-python:before {
  content: "\e690";
}

.icon-wenzhang:before {
  content: "\ec64";
}

